.campus-title {
    text-align: center;
}

.title-separator {
    margin: 0 10%;
    height: 0.2vh;
    background-color: #051626;
}

.campus-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facility {
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.facility h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.reservation-link button.fill a {
    color: #e5e2df;
    text-decoration: none;
}

.sport-name {
    display: inline-block; /* or 'block' for a new line */
    margin: 5px; /* Adjust as needed for spacing */
    padding: 5px;
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 4px; /* Rounded corners */
    font-weight: bold; /* Makes text bold */
}