body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./../images/login-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

.form-container .form-signin *{
    border: none;
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.button-container * {
    margin: 0px;
}

.flash-messages {
    color: red;
    list-style-type: square;
    text-align: left;
}