@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

html, body, header {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    background-color: #f7f7f7;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #051626;
    padding: 10px;
}

header #itu_logo {
    height: 50px;
    margin: 2vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: center;
    text-align: center;
    font-weight: 500;
}

nav a {
    margin: 0px 10px 0px 10px;
    background-color: #051626;
    border-style: none;
    text-transform: uppercase;
    color: #e5e2df;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

nav a:hover {
    color: #051626;
    background-color: #8c734b;
}

nav .separator {
    height: 20px;
    width: 1px;
    background-color: #8c734b;
    display: inline-block;
}

nav #loginSection {
    margin-left: auto;
}

nav #loginSection a {
    display: inline-flex;
    align-items: center;
}

nav #loginSection a i {
    margin-left: 15px;
}

/* General Styles */

/* Links */
a {
    color: #051626;
    text-decoration: none;
}

a:hover {
    color:#0a2c4d
}

/* Buttons */

button {
    font-size: 14px;
    border-style: solid;
    background-color: #f7f7f7;
    color: #051626;
    border-color: #051626;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #e5e5e5;
}

button.fill {
    background-color: #051626;
    color: #e5e2df;
    border-color: #051626;
}

button .fill :hover {
    background-color: #0a2c4d;
}

.submit-button {
    font-size: 14px;
    border-style: solid;
    background-color: #f7f7f7;
    color: #051626;
    border-color: #051626;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s;
    font-weight: 600;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e5e5e5;
}

/* Titles */

h1 {
    font-size: 40px;
    font-weight: 500;
    color: #051626;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: #051626;
}

/* Dropdown */

.dropdown {
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    color: #051626;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
    font-weight: 600;
    border-width: 2px;
    border-color: #051626;
    position: relative;
    padding: 0px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #051626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #8c734b;
    text-decoration: none;
    background-color: #051626;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change dropdown button style on hover */
.dropdown:hover .dropbtn {
    background-color: #8c734b;
}
