@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* styles.css */

html, body, header {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 500;
}

form {
    padding-top: 25px;
    width : 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    align-items: left;
    display: flex;

}

form div {
    flex: 1;
    font-size: 14px;
    font-family: 'Open Sans';
}

.dropdown {
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.sport-dropdown {
    width: 240px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f7f7f7;
    border-style: solid;
    color: #051626;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s;
    font-weight: 600;
    border-width: 2px;
    border-color: #051626;
}

.order-dropdown {
    width: 240px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f7f7f7;
    border-style: solid;
    color: #051626;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s;
    font-weight: 600;
    border-width: 2px;
    border-color: #051626;
}

.submit-button {
    font-size: 14px;
    background-color: #8c734b;
    border-style: solid;
    border-color: #8c734b;
    color: #f7f7f7;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
    display: inline-block;
    transition: background-color 0.3s;
    font-weight: 600;
}

.ranking-table{
    padding-top: 10px;
    padding-bottom: 15%;
}

.ranking-table thead {
    border-radius: 20%;
}

.ranking-table thead tr{
    font-weight: 300;
    text-transform: capitalize;
}

div.ranking-title {
    display: block;
    padding:50px;
    width: 50%;
}

.ranking-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-style:normal;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}


    /*** Table Styles **/

.ranking-title {
    border-radius:3px;
    height: 320px;
    margin: auto;
    padding:8px;
}



th {
    color:#D5DDE5;;
    background:#051626;
    border-right: 1px solid #343a45;
    font-size:23px;
    padding:24px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#DAE3EB;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#DAE3EB;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

tr:last-child td:last-child {
    width :120px;
}
td {
    background:#FFFFFF;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    font-weight:400;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td a {
    text-decoration: none;
    color: #051626;
}

td:last-child {
    border-right: 0px;
}

th.text {
    text-align: left;
}

td.text {
    text-align: left;
}
