.elements {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

form {
    padding-top: 25px;
    width : 80%;
    margin: 0 auto;
    padding: 20px;
    align-items: left;
    display: flex;
    vertical-align: bottom;
    height: 100px;
    align-items: flex-end;
}

.reservation-title div.dropdown {
    border: none;
}

.reservation-title div.dropdown .dropdown {
    padding: 20px;
    background-color: f7f7f7;
}

.reservation-title .submit-button {
    padding: 20px;
}