@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600&display=swap');

/* Slideshow */

#slideshow {
    width: 100%;
    overflow: hidden;
}

#slideshow-wrapper {
    padding: 30px;
    display: flex;
    background-color: #f7f7f7;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    height: 72vh;
    max-height: 100%;
    overflow-y: scroll;
}

#slideshow-box {
    width: 100%;
    height: auto;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex-grow: 1;
}

#slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slideshow-text {
    color: black;
    padding: 20px;
    text-align: left;
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
}

#slideshow-text h1 {
    color: #051626;
    font-size: 36px;
    font-weight: 600;
}

#slideshow-text h2 {
    color: #051626;
    font-size: 24px;
    font-weight: 500;
}

#slideshow-text h3 {
    font-size: 20px;
    font-weight: 400;
}

#slideshow-text m2 {
    font-weight: 500;
    color: #009944;
}

#slideshow-text f1 {
    font-weight: 500;
    color: #7c7358;
}

#slideshow-text tf1 {
    font-weight: 500;
    color: #68bcb0;
}

#slideshow-text li {
    list-style-type: square;
    font-size: 18px;
    text-transform: capitalize;
}

#slideshow-text li::marker {
    color: #051626;
}

#slideshow-links {
    margin-top: auto;
    bottom: 0px;
    max-height: 40px;
    width: 100%;
    padding: 40px;
}

#slideshow-buttons {
    width: 100%;
    text-align: center;
}

a .reservation-link {
    color: #e5e2df;
    text-decoration: none;
}

/* Style for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #051626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.campus-link {
    color: #051626;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none; /* Removes underline from links */
}

.campus-link:hover {
    text-decoration: underline; /* Adds underline on hover for visual feedback */
}

