body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .user-img {
    position: relative;
  }
  
  .user-info {
    margin-left: 20px;
  }
  
  .update-form {
    width: 60%;
    margin-top: 20px;
  }
  
  .update-form label,
  .update-form input {
    display: block;
    margin-bottom: 10px;
  }
  
  .update-form input {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }