<!DOCTYPE html>
<html>
<head>
    <title>University Sports Facilities</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <!-- Header -->

    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="#">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <a href="#">Campuses</a>
            <div id="loginSection">
                {% if current_user.is_authenticated %}
                    <!-- Display profile link if user is logged in -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">{{ current_user.name }}<i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile_page', selected_user = current_user.school_id) }}">Profile</a>
                            <a href="{{ url_for('log_out') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                <!-- Display login link if user is not logged in -->
                <a href="{{ url_for('login_page') }}">Login<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <!-- Slideshow -->

    <div id="slideshow" data-base-image-url="{{ url_for('static', filename='images/campus/') }}">
        <div id="slideshow-wrapper">
            <div id="slideshow-box">
                <div id="slideshow-text"></div>
                <div id="slideshow-links">
                    <button id="more-info"><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;More Information</button>
                    <button id="reservation">Make Reservation</button>
                </div>
            </div>
            <div id="slideshow-box"><img id="slideshow-image"></div>
        </div>
        <div id="slideshow-buttons">
            <button id="prev"><i class="fa-solid fa-caret-left"></i></button>
            <button id="reservation">Make Reservation</button>
            <button id="next"><i class="fa-solid fa-caret-right"></i></button>
        </div>
    </div>

    <!-- Script Files -->
    <script type="text/javascript" src="{{ url_for('static', filename='script/slider.js') }}"></script>
</body>
</html>
