<!DOCTYPE html>
<html>
<head>
    <title>Login/Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

        <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="form-container" id="login-form">
        <i class="fa-solid fa-user"></i><h2>Login</h2>
        <form action="/login" method="POST" class="form-signin">
            <div class="input-container">
                {{ login_form.hidden_tag() }}
                <br>
                {{ login_form.email_address(class="form-control", placeholder="Email") }}
                {{ login_form.password(class="form-control", placeholder="Password") }}

                <br>
            </div>

            <div class="button-container">
                <button class="fill" type="button" id="homepage-login"><i class="fa-solid fa-house"></i></button>
                <button class="fill" type="button" id="show-register">Register</button>
                {{ login_form.submit(class="submit-button") }}
            </div>
            <script type="text/javascript">
                var registerUrl = "{{ url_for('register_page') }}";
                var homepageUrl = "{{ url_for('home_page') }}";
            </script>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>
