<!DOCTYPE html>
<html>
<head>
    <title>Match history</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/match_hist.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <!-- Header -->

    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <a href="#">Campuses</a>
            <div id="loginSection">
                <!-- Dynamic content based on login state -->
                <!-- to link login.html page -->
                <a href="{{ url_for('login_page')}}">Login<i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>
    <div class="hist-title">

    <form method="post" action="{{ url_for('match_hist', selected_user = user) }}">
        {{ form.sports(class="sports-dropdown") }}
        {{ form.hidden_tag() }}
        {{ form.submit_button(class="submit-button") }}
        
    </form>
    
    individual matches
        <table class = hist-table>
            <thead>
                {% for column in title %}
                    <th> {{ column }}</th>
                {% endfor %}
                          
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row["u1_name"] }}</td>
                    <td>{{ row["score"] }}</td>
                    <td>{{ row["u2_name"] }}</td>
                    <td>{{ row["campus_name"] }}</td>
                    <td>{{ row["facility_name"] }}</td>
                    <td>{{ row["sport_type"] }}</td>
                    <td>{{ row["date"] }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>    
    </div>

</html>
