<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>User Profile</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <div id="campusSection">
                    <!-- Display all campuses -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">Campuses</a>
                        <div class="dropdown-content">
                            {% for item in dropdown_campus_items %}
                                <a href="{{ url_for('campus_page', selected_campus = item.id) }}">{{ item.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <span class="separator"></span>
            <div id="sportsSection">
                <!-- Display all campuses -->
                <div class="dropdown">
                    <a href="#" class="dropbtn">Sports</a>
                    <div class="dropdown-content">
                        {% for item in dropdown_sport_items %}
                            <a href="{{ url_for('sports_page', selected_sport = item.id) }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span class="separator"></span>
            <div id="loginSection">
                {% if current_user.is_authenticated %}
                    <!-- Display profile link if user is logged in -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">{{ current_user.name }}<i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile_page', selected_user = current_user.school_id) }}">Profile</a>
                            <a href="{{ url_for('log_out') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                <!-- Display login link if user is not logged in -->
                <a href="{{ url_for('login_page') }}">Login<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>


    <div class="container">

        <div class="top">
            <div class="user-img">
                {% if user["gender"] == "m" %}
                    <img src="{{ url_for('static', filename='images/user_icon/userimg_male.jpg')}}" alt="user">
                {% else %}
                    <img src="{{ url_for('static', filename='images/user_icon/userimg_female.jpg')}}" alt="user">
                {% endif %}

            </div>
            <div class="user-info">
                <h1>{{ user["name"] }}</h1>
                <p>{{ user["mail"] }}</p>
                <p>{{ user["tel_no"] }}</p>
                <p> {{ user["faculty"] }} </p>
                <p> {{ user["department"] }} </p>
                <p> {{ user["birth_date"] }} </p>
                <p> {{ user["gender"] }} </p>
            </div>
        </div>
        <div class="bottom">
            <div class="teams"><h2>Teams</h2>
                {% for row in team_table %}
                    <a href="{{ url_for('team_profile', selected_team = row['team_id']) }}"> {{ row["name"] }} </a> - 
                    <a href="{{ url_for('sports_page', selected_sport = row['sport_id']) }}">{{ row["sport_type"] }} </a>  - 
                    {{ row["team_score"] }}<br>
                {% endfor%}
            </div>
            {% if user["school_id"] == current_user.school_id %}
                <div class="reservations">
                    <h2>Future Reservations</h2>
                    <!-- Here can be a list of future reservations -->
                </div>
            {% endif %}
            <div class="others">
                <div class="prev-reservations">
                    <a href="{{ url_for('match_hist', selected_user = user['school_id']) }}">
                        <button>Previous Matches</button>
                    </a>
                    <!-- Here can be a list of previous reservations -->
                </div>
                {% if user["school_id"] == current_user.school_id %}
                    <div class="take-reservation">
                        <button>Take Reservation</button>
                    </div>
                {% endif %}
            </div>

        </div>
        {% if user["school_id"] == current_user.school_id %}
            <a href="{{ url_for('update_profile', selected_user = user['school_id']) }}">
                <button>Edit Profile</button>
            </a>
            <a href="{{ url_for('create_team')}}">
                <button>Create Team</button>
            </a>
        {% endif %}
    </div>

</body>
</html>
