<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>User Profile</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <a href="#">Campuses</a>
            <div id="loginSection">
                <!-- Dynamic content based on login state -->
                <!-- to link login.html page -->
                <a href="{{ url_for('login_page')}}">Login<i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="top">
            <div class="user-img">
                <img src="{{ url_for('static', filename='images/user_icon/userimg.jpg')}}" alt="user">
            </div>
            <div class="user-info">
                <h1>Eren Olug</h1>
                <p>AI and Data</p>
                <p>Mail GSM</p>
            </div>
            <div class="scores">User Scores</div>
        </div>
        <div class="bottom">
            <div class="teams"><h2>Teams</h2></div>
            <div class="reservations">
                <h2>Future Reservations</h2>
                <!-- Here can be a list of future reservations -->
            </div>
            <div class="others">
                <div class="prev-reservations">
                    <button>Previous Reservations</button>
                    <!-- Here can be a list of previous reservations -->
                </div>
                <div class="take-reservation">
                    <button>Take Reservation</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>