<!DOCTYPE html>
<html>
<head>
    <title>Rankings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/ranking.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <!-- Header -->

    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <div id="campusSection">
                    <!-- Display all campuses -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">Campuses</a>
                        <div class="dropdown-content">
                            {% for item in dropdown_campus_items %}
                                <a href="{{ url_for('campus_page', selected_campus = item.id) }}">{{ item.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <span class="separator"></span>
            <div id="sportsSection">
                <!-- Display all campuses -->
                <div class="dropdown">
                    <a href="#" class="dropbtn">Sports</a>
                    <div class="dropdown-content">
                        {% for item in dropdown_sport_items %}
                            <a href="{{ url_for('sports_page', selected_sport = item.id) }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span class="separator"></span>
            <div id="loginSection">
                {% if current_user.is_authenticated %}
                    <!-- Display profile link if user is logged in -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">{{ current_user.name }}<i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile_page', selected_user = current_user.school_id) }}">Profile</a>
                            <a href="{{ url_for('log_out') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                <!-- Display login link if user is not logged in -->
                <a href="{{ url_for('login_page') }}">Login<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="ranking-title">

    
    <form class = form method="post" action="{{ url_for('rank_page') }}">
        <div>
            Select Sport: <br>
            {{ rank_form.sports(class="sport-dropdown") }}
        </div>
        <div>
            Order by: <br>
            {{ rank_form.order(class="order-dropdown") }}
        </div>
        {{ rank_form.hidden_tag() }}
        {{ rank_form.submit_button(class="submit-button") }}

    </form>


    <table class = ranking-table>
        <thead>
            
            {% for column in title %}
                <th> {{ column }}</th>
            {% endfor %}

        </thead>
        <tbody>
            {% for row in table_data %}
                <tr>
                    <td><a href="{{ url_for('team_profile', selected_team = row['team_id']) }}">{{ row["name"] }}</a></td>
                    <td><a href="{{ url_for('profile_page', selected_user = row['captain_id']) }}">{{ row["captain"] }}</a></td>
                    <td><a href="#">{{ row["sport"] }}</a></td> <!-- will direct  url_for('sport_page', selected_user = row['sport_id']) -->
                    <td>{{ row["total_score"] }}</td>
                    <td>{{ row["#_matches"] }}</td>
                    <td>{{ row["avrg_score"] }}</td>
                    <td>{{ row["foundation_date"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>


</html>
