<!DOCTYPE html>
<html>
<head>
    <title>Login/Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

        <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="form-container" id="register-form">
        <i class="fa-solid fa-user"></i><h2>Register</h2>
        <form action="/register" method="POST" class="form-signin" style="color:white">
            {{ register_form.hidden_tag() }}
            <br>
            {{ register_form.name(class="form-control", placeholder="Name") }}

            {{ register_form.surname(class="form-control", placeholder="Surname") }}
            {{ register_form.student_number(class="form-control", placeholder="Student Number") }}
            {{ register_form.email_address(class="form-control", placeholder="Email") }}
            {{ register_form.password(class="form-control", placeholder="Password") }}
            {{ register_form.phone_number(class="form-control", placeholder="Phone Number") }}
            {{ register_form.birth_date(class="form-control", placeholder="Birth Date") }}
            {{ register_form.faculty(class="form-control", placeholder="Faculty") }}
            {{ register_form.department(class="form-control", placeholder="Department") }}
            {{ register_form.gender(class="form-control", placeholder="Gender (W/M)") }}
            <br>

            <div class="button-container">
                <button class="fill" type="button" id="homepage-register"><i class="fa-solid fa-house"></i></button>
                <button class="fill" type="button" id="show-login"><i class="fa-solid fa-arrow-left"></i></button>
                {{ register_form.submit() }}
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var loginUrl = "{{ url_for('login_page') }}";
        var homepageUrl = "{{ url_for('home_page') }}";
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>
