<!DOCTYPE html>

<html>
<head>
    <title>Reservation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/reservation.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <!-- Header -->

    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <div id="campusSection">
                    <!-- Display all campuses -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">Campuses</a>
                        <div class="dropdown-content">
                            {% for item in dropdown_campus_items %}
                                <a href="{{ url_for('campus_page', selected_campus = item.id) }}">{{ item.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <span class="separator"></span>
            <div id="sportsSection">
                <!-- Display all campuses -->
                <div class="dropdown">
                    <a href="#" class="dropbtn">Sports</a>
                    <div class="dropdown-content">
                        {% for item in dropdown_sport_items %}
                            <a href="{{ url_for('sports_page', selected_sport = item.id) }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span class="separator"></span>
            <div id="loginSection">
                {% if current_user.is_authenticated %}
                    <!-- Display profile link if user is logged in -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">{{ current_user.name }}<i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile_page', selected_user = current_user.school_id) }}">Profile</a>
                            <a href="{{ url_for('log_out') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                <!-- Display login link if user is not logged in -->
                <a href="{{ url_for('login_page') }}">Login<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>


    <div class="reservation-title">
        <form class = form method="post" action="{{ url_for('reservation_page')}}">
            <div class="dropdown">
                <label for="sports">Select Sport:</label><br>
                {{ reservation_form.sports(class="sport-dropdown") }}
            </div>
            <div class="dropdown">
                <label for="campuses">Select Campus:</label><br>
                {{ reservation_form.campuses(class="campus-dropdown") }}
            </div>
            <div class="dropdown">
                <label for="area">Select Saloon:</label><br>
                {{ reservation_form.area(class="area-dropdown") }}
            </div>
            <div class="dropdown">
                <label for="set_time">Choose Time:</label><br>
                {{ reservation_form.set_time(class="set-time") }}
            </div>
            {{ reservation_form.hidden_tag() }}
            {{ reservation_form.submit_button(class="submit-button") }}
        </form>
    </div>
    
    <table class = ranking-table>
        <thead>
            
            {% for column in title %}
                <th> {{ column }}</th>
            {% endfor %}

        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row["campus"] }}</td>
                    <td>{{ row["saloon"] }}</td>
                    <td>{{ row["sport"] }}</td>
                    <td>{{ row["mail"] }}</td>
                    <td>{{ row["current"] }}</td>
                    <td>{{ row["capacity"] }}</td>
                    <td>
                        <form method="post" action="{{ url_for('reservation_result')}}">
                            {{ reservation_form.hidden_tag() }}
                            <!-- Gizli alanlar ekleniyor -->
                            <input type="hidden" name="campus" value="{{ row['campus'] }}">
                            <input type="hidden" name="saloon" value="{{ row['saloon'] }}">
                            <input type="hidden" name="sport" value="{{ row['sport'] }}">
                            <input type="hidden" name="mail" value="{{ row['mail'] }}">
                            <input type="hidden" name="current" value="{{ row['current'] }}">
                            <input type="hidden" name="capacity" value="{{ row['capacity'] }}">
                            <button type="submit">BANA BAS</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    
</body>
</html>