
<!DOCTYPE html>
<html>
<head>
    <title>Sports</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/campus.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <!-- Header -->

    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <div id="campusSection">
                    <!-- Display all campuses -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">Campuses</a>
                        <div class="dropdown-content">
                            {% for item in dropdown_campus_items %}
                                <a href="{{ url_for('campus_page', selected_campus = item.id) }}">{{ item.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <span class="separator"></span>
            <div id="sportsSection">
                <!-- Display all campuses -->
                <div class="dropdown">
                    <a href="#" class="dropbtn">Sports</a>
                    <div class="dropdown-content">
                        {% for item in dropdown_sport_items %}
                            <a href="{{ url_for('sports_page', selected_sport = item.id) }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span class="separator"></span>
            <div id="loginSection">
                {% if current_user.is_authenticated %}
                    <!-- Display profile link if user is logged in -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">{{ current_user.name }}<i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile_page', selected_user = current_user.school_id) }}">Profile</a>
                            <a href="{{ url_for('log_out') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                <!-- Display login link if user is not logged in -->
                <a href="{{ url_for('login_page') }}">Login<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <h1 class="campus-title">{{ sport_name }}</h1>
    <div class="title-separator"></div>

    <div class="campus-details">
        {% for campus_name, campus in campus_facilities_dict.items() %}
        <div class="facility">
            <h2>{{ campus[0].name }}</h2>
            <p>{{ campus[0].address }}</p>
            {% for facility_info in campus[1] %}
            <span class="sport-name">{{ facility_info.name  }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="reservation-link">
            <button class="fill"><a href="{{ url_for('reservation_page') }}">Make Reservaiton</a></button>
        </div>
    </div>

</body>
</html>
