<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/team_profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Team Profile</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <div id="campusSection">
                    <!-- Display all campuses -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">Campuses</a>
                        <div class="dropdown-content">
                            {% for item in dropdown_campus_items %}
                                <a href="{{ url_for('campus_page', selected_campus = item.id) }}">{{ item.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <span class="separator"></span>
            <div id="sportsSection">
                <!-- Display all campuses -->
                <div class="dropdown">
                    <a href="#" class="dropbtn">Sports</a>
                    <div class="dropdown-content">
                        {% for item in dropdown_sport_items %}
                            <a href="{{ url_for('sports_page', selected_sport = item.id) }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span class="separator"></span>
            <div id="loginSection">
                {% if current_user.is_authenticated %}
                    <!-- Display profile link if user is logged in -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">{{ current_user.name }}<i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile_page', selected_user = current_user.school_id) }}">Profile</a>
                            <a href="{{ url_for('log_out') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                <!-- Display login link if user is not logged in -->
                <a href="{{ url_for('login_page') }}">Login<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>


    <div class="container">
        <div class="top">
            <div class="team-info">
                usable team keys: <br>
                team["name"],   team["captain"],   team["sport_type"],    team["sport_id"],   team["fuoundation_date"],  team["team_score"],   team["#_matches"], team["avrg"]
                <h1>{{ team['name'] }}</h1>
                <p>{{ team["captain"] }}</p>
                <p>55p - 102 games</p>
            </div>
        </div>
        <div class="bottom">
            <div class="team-players">
                <h2>Team Players</h2>
                {% for player in players %}
                    {{ player[0] }} <br>
                {% endfor %}
            </div>
            <div class="prev-games">
                <h2>Previous Games</h2>
                {% for match in match_hist %}
                    {{ match[0]}} {{ match[1]}} {{ match[2]}} {{ match[3]  }} <br>
                {% endfor %}
            </div>
            <div class="others">
                {% if no_teams == False %}
                    <div class="join-team">
                        <button>Join Team</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>
