<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/update_profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Profile Update</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/itu250.svg') }}" alt="Istanbul Technical University" id="itu_logo">
        <nav>
            <a href="{{ url_for('home_page')}}">Home</a>
            <span class="separator"></span>
            <a href="{{ url_for('rank_page')}}">Statistics</a>
            <span class="separator"></span>
            <div id="campusSection">
                    <!-- Display all campuses -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">Campuses</a>
                        <div class="dropdown-content">
                            {% for item in dropdown_campus_items %}
                                <a href="{{ url_for('campus_page', selected_campus = item.id) }}">{{ item.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <span class="separator"></span>
            <div id="sportsSection">
                <!-- Display all campuses -->
                <div class="dropdown">
                    <a href="#" class="dropbtn">Sports</a>
                    <div class="dropdown-content">
                        {% for item in dropdown_sport_items %}
                            <a href="{{ url_for('sports_page', selected_sport = item.id) }}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span class="separator"></span>
            <div id="loginSection">
                {% if current_user.is_authenticated %}
                    <!-- Display profile link if user is logged in -->
                    <div class="dropdown">
                        <a href="#" class="dropbtn">{{ current_user.name }}<i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile_page', selected_user = current_user.school_id) }}">Profile</a>
                            <a href="{{ url_for('log_out') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                <!-- Display login link if user is not logged in -->
                <a href="{{ url_for('login_page') }}">Login<i class="fa-solid fa-user"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="top">
            
            <div class="user-img">
                {% if current_user.gender == 'm' %}
                    <img src="{{ url_for('static', filename='images/user_icon/userimg_male.jpg')}}" alt="user" height="300">
                {% else %}
                    <img src="{{ url_for('static', filename='images/user_icon/userimg_female.jpg')}}" alt="user" height="300">
                {% endif %}
            </div>

            <form action="{{ url_for('update_profile') }}" method="POST" class="update-form">
                <div class="user-info">
                    E-Mail: <br>
                    {{ form.email_address(class="email-textbox") }}
                    {{ form.hidden_tag() }}
                    Phone Number: <br>
                    {{ form.tel_no(class="email-textbox") }}
                    Password: <br>
                    {{ form.password(class="password-textbox") }}
                    {{ form.submit(class="submit-button") }}
                </div>
            </form>
        </div>
    </div>

</body>
</html>
